
* {  /*universal selector */
    box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Josefin Sans', sans-serif; */
    direction: rtl;
    text-align: right;
  }
  
  header {
    background-color: gray;
    text-align: center;
  }
  
  header h4 {
    color: white;
    text-align: left;
    padding: 15px 15px;
  }

  nav {
    background-color: gray;
  }
  
  nav > ul {
    padding: 0;
  }
  
  nav > ul > li {
    display: inline;
  }
  
  
  nav > ul > li > a {
    display: inline-block;
    color: white;   
    text-decoration: none;
    padding: 10px;
  }
  
  nav > ul > li > a:hover {
    background-color: gray;
    color: blue;
    text-decoration: underline;
  }
    
  /* nav > ul > li.active > a {
    background-color: lightseagreen;
  } */

  /* .first-row {
    border: 3px solid;
    margin: auto;
    width: 910px;
  }
  .second-row {
    border: 3px solid;
    margin: auto;
    width: 920px;
  } */
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 10%;
    top: 100%;
  }
  
  .dropdown-content a {
    display: block;
    color: white;
    background-color: gray;     
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 0px;
    /* box-shadow: 10px 10px 10px rgba(400, 400, 400, 0.9); */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    color: blue;
    text-decoration: underline;
    background-color: lightgray;
  }


  /*----------------------------------------*/

  /* .first-row {
    display: flex;
  }
  .picture-container {
    flex: 33%
  } */
  .first-row {
    /* border: 3px dashed; */
    margin: auto;
    width: 910px;
  }
  .picture-container {
    float: right;
    border: solid 3px dotted;
    width: 293px;
    height: 355px;
    position: relative;
  }
  .first-row::after {
  content: "";
  clear: both;
  display: table;
  }
  
  .text-in-picture {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .text1 {
    color: white;
    position: absolute;
    bottom: 90px;
    right: 30px;
  }
  .text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .read-more {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
  
  /*-----------------------------------------*/
  .second-row {
    /* border: 3px solid; */
    margin: auto;
    width: 920px;
  }
  .gray-cube { 
    float: right;    
    width: 293px;
    height: 355px;
    position: relative;    
  }
  .img-on-gray {
    color: black;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .text4 {
    color: black;
    position: absolute;
    top: 10px;
    right: 40px;
  }
  .more-details {
    color: black;
    position: absolute;
    top: 150px;
    left: 40px;
  }
  .map-on-gray {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .north {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .center {
    position: absolute;
    top: 60px;
    right: 40px;
  }
  .south {
    position: absolute;
    top: 80px;
    right: 40px;
  }
  /* .background-cube {
    float: right;
    position: relative;    
    width: 293px;
    height: 355px;     
  }  */
  
  .second-row::after {
    content: "";
    clear: both;
    display: table;
    }
/*-----------------------------------------*/
  footer {
    /* position: fixed; */
    Position: bottom;
    background-color: gray;
    padding: 10px 10px;
    text-align: center;
  }
  /*
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  article img {
    width: 33%;
    float: right;
    margin-right: 10px;
  }
   */
  
  